# Ігнорування віртуального оточення Python
venv/
.venv/

# Ігнорування папки з даними 
data/

# Додаткові типові виключення для Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.log
*.sqlite3

# Ігнорування файлів IDE
.idea/
.vscode/
.history/venv/
data/
.history/
